<script setup lang="ts">
import { Bold } from 'lucide-vue-next'

import { Toggle } from '@/components/ui/toggle'
</script>

<template>
  <Story>
    <Toggle aria-label="Toggle italic">
      <Bold class="h-4 w-4" />
    </Toggle>
  </Story>
</template>
