<script setup lang="ts">
import { CheckCircle, MailWarning } from 'lucide-vue-next'
import { Alert, AlertDescription, AlertTitle } from '@/components/ui/alert'
</script>

<template>
  <Story>
    <Variant title="default">
      <Alert>
        <CheckCircle class="w-4 h-4" />
        <AlertTitle>Heads up!</AlertTitle>
        <AlertDescription>
          Purchase Order Successfully Created
        </AlertDescription>
      </Alert>
    </Variant>

    <Variant title="destructive">
      <Alert variant="destructive">
        <MailWarning class="w-4 h-4" />
        <AlertTitle>Whoops !!</AlertTitle>
        <AlertDescription>
          Failed to create purchase order
        </AlertDescription>
      </Alert>
    </Variant>
  </Story>
</template>
