<script setup lang="ts">
import { withDefaults } from 'vue'
import type { buttonVariants } from '../button'
import { Button } from '../button'
import { Icon } from '../icon'

interface ObjAction {
  content?: string
  url?: string
  onAction?: () => void
  disabled?: boolean
  variant?: NonNullable<Parameters<typeof buttonVariants>[0]>['variant']
  size?: NonNullable<Parameters<typeof buttonVariants>[0]>['size']
  iconOnly?: boolean
  loading?: boolean
  icon?: string
}

interface PageProps {
  backAction?: ObjAction
  title: string
  subtitle?: string
  primaryAction?: ObjAction
  secondaryAction?: ObjAction[]
}

const props = withDefaults(defineProps<PageProps>(), {
  title: '',
  backAction: () => ({
    content: 'Back',
    url: '/',
  }),
  primaryAction: () => ({
    content: 'Create New',
  }),
  secondaryAction: () => [],
})
</script>

<template>
  <div>
    <div class="flex justify-between mb-3 flex-col md:flex-row ">
      <div class="flex items-start space-x-2">
        <slot name="backAction">
          <Button as="router-link" :to="props.backAction.url" variant="ghost" size="icon">
            <Icon name="ArrowLeft" class="w-4 h-4" />
          </Button>
        </slot>

        <div class="flex flex-col">
          <slot name="title">
            <div class="flex space-x-2">
              <h1 class="text-xl font-bold">
                {{ props.title }}
              </h1>

              <div>
                <slot name="after-title" />
              </div>
            </div>
          </slot>
          <slot v-if="props.subtitle" name="subtitle">
            <h2 class="text-xs">
              {{ props.subtitle }}
            </h2>
          </slot>
        </div>
      </div>

      <div class="flex items-start space-x-2 mt-3 md:mt-0 justify-end ">
        <slot v-if="props.secondaryAction.length > 0" name="secondaryAction">
          <Button
            v-for="action in props.secondaryAction"
            :key="action.content"
            :variant="action.variant ? action.variant : 'secondary'"
            :disabled="action.disabled"
            :as="action.url ? 'router-link' : 'button'"
            :to="action.url"
            :size="action.iconOnly ? 'icon' : 'sm'"
            :loading="action.loading"
            @click="action.onAction"
          >
            <Icon
              v-if="action.icon"
              :name="action.icon"
              class="w-4 h-4"
              :class="`${!action.iconOnly ? 'mr-2' : ''}`"
            />

            <span v-if="!action.iconOnly">
              {{ action.content }}
            </span>
          </Button>
        </slot>

        <slot name="primaryAction">
          <Button
            :disabled="primaryAction.disabled"
            :variant="primaryAction.variant"
            :as="primaryAction.url ? 'router-link' : 'button'"
            :to="primaryAction.url"
            :size="primaryAction.iconOnly ? 'icon' : 'sm'"
            :loading="primaryAction.loading"
            @click="primaryAction.onAction"
          >
            <Icon
              v-if="primaryAction.icon"
              :name="primaryAction.icon"
              :class="`${!primaryAction.iconOnly ? 'mr-2' : ''}`"
            />

            <span v-if="!primaryAction.iconOnly">
              {{ primaryAction.content }}
            </span>
          </Button>
        </slot>
      </div>
    </div>
    <slot />
  </div>
</template>
