<script setup lang="ts">
import { computed, ref } from 'vue'
import type { Table } from '@tanstack/vue-table'
import type { Order } from './schema'

import { payment_terms, statuses } from './data'
import { Icon } from '@/components/ui/icon'
import { DataTableFacetedFilter, DataTableFilterContent, DataTableViewOptions } from '@/components/ui/data-table'
import { Button } from '@/components/ui/button'
import { Input } from '@/components/ui/input'

interface DataTableToolbarProps {
  table: Table<Order>
}

const props = defineProps<DataTableToolbarProps>()
const isFiltered = computed(() => props.table.getState().columnFilters.length > 0)
const isSearching = ref(false)
</script>

<template>
  <div class="flex flex-col">
    <div class="flex items-center justify-between p-2 pt-2 border-b">
      <div class="flex items-center flex-1 space-x-2">
        <Input placeholder="Searching in all" class="mr-3" />
      </div>
      <Button variant="outline" class="mx-2 space-x-1" @click="isSearching = !isSearching">
        <Icon name="Search" />
        <Icon name="ListFilter" />
      </Button>
      <DataTableViewOptions :table="table" />
    </div>

    <DataTableFilterContent :show="isSearching">
      <div
        v-if="isSearching"
        class="p-2  border-b flex space-x-2"
      >
        <DataTableFacetedFilter
          v-if="table.getColumn('status')"
          :column="table.getColumn('status')"
          title="Status"
          :options="statuses"
        />

        <DataTableFacetedFilter
          v-if="table.getColumn('payment_term')"
          :column="table.getColumn('payment_term')"
          title="Payment Terms"
          :options="payment_terms"
        />

        <Button
          v-if="isFiltered"
          variant="ghost"
          class="px-2 lg:px-3"
          @click="table.resetColumnFilters()"
        >
          Reset
          <Icon name="X" class="w-4 h-4 ml-2" />
        </Button>
      </div>
    </DataTableFilterContent>
  </div>
</template>
