<script setup lang="ts">
import { CalendarDays } from 'lucide-vue-next'

import {
  Avatar,
  AvatarFallback,
  AvatarImage,
} from '@/components/ui/avatar'
import { Button } from '@/components/ui/button'
import {
  HoverCard,
  HoverCardContent,
  HoverCardTrigger,
} from '@/components/ui/hover-card'
</script>

<template>
  <Story :layout="{ type: 'grid', width: 300 }">
    <HoverCard>
      <HoverCardTrigger as-child>
        <Button variant="link">
          @vuejs
        </Button>
      </HoverCardTrigger>
      <HoverCardContent class="w-80">
        <div class="flex justify-between space-x-4">
          <Avatar>
            <AvatarImage src="https://github.com/vuejs.png" />
            <AvatarFallback>VC</AvatarFallback>
          </Avatar>
          <div class="space-y-1">
            <h4 class="text-sm font-semibold">
              @vuejs
            </h4>
            <p class="text-sm">
              Progressive JavaScript framework for building modern web interfaces.
            </p>
            <div class="flex items-center pt-2">
              <CalendarDays class="w-4 h-4 mr-2 opacity-70" />
              <span class="text-xs text-muted-foreground">
                Joined January 2014
              </span>
            </div>
          </div>
        </div>
      </HoverCardContent>
    </HoverCard>
  </Story>
</template>
