<script setup lang="ts">
import { Avatar, AvatarFallback, AvatarImage } from '@/components/ui/avatar'

const shapes = ['circle', 'square']
const sizes = ['sm', 'base', 'lg']
function initState() {
  return {
    size: 'base',
    shape: 'circle',
  }
}
</script>

<template>
  <Story :init-state="initState">
    <template #default=" { state }">
      <Avatar v-bind="state">
        <AvatarImage src="https://images.unsplash.com/photo-1589405858862-2ac9cbb41321?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" />
        <AvatarFallback>CN</AvatarFallback>
      </Avatar>
    </template>

    <template #controls="{ state }">
      <HstSelect v-model="state.shape" :options="shapes" title="Shape" />
      <HstSelect v-model="state.size" :options="sizes" title="Size" />
    </template>
  </Story>
</template>
