<script setup lang="ts">
import { computed, ref } from 'vue'
import FormTableCell from './FormTableCell.vue'
import FormTableRow from './FormTableRow.vue'
import FormTableInput from './FormTableInput.vue'
import FormTableHeader from './FormTableHeader.vue'
import { Checkbox } from '@/components/ui/checkbox'
import type { FormTableHeaderItem } from '@/components/ui/form-table'

const props = defineProps<{
  modelValue: Record<string, any>
  headers: FormTableHeaderItem[]
  selectAll?: boolean
}>()

const rawTotalCol = computed(() => {
  const total = props.headers.reduce((acc, header) => {
    if (header.cols)
      return acc + Number.parseInt(header.cols, 10)

    return acc
  }, 0)

  return total
})

const headerWithCol = computed(() => {
  const MAX_COLUMN = 11
  const TOTAL = rawTotalCol.value
  const HEADERS = [...props.headers]

  if (TOTAL < MAX_COLUMN) {
    let currentTotal = MAX_COLUMN - TOTAL

    // Use a while loop to distribute columns until currentTotal is zero
    while (currentTotal > 0) {
      for (let i = 0; i < HEADERS.length && currentTotal > 0; i++) {
        const header = HEADERS[i]

        if (header.cols)
          header.cols = `${Number.parseInt(header.cols, 10) + 1}`

        else
          header.cols = '1'

        currentTotal--
      }
    }
  }

  return HEADERS
})
</script>

<template>
  <div class="overflow-x-clip">
    <div class="overflow-auto min-w-[700px] block">
      <FormTableHeader :select-all="selectAll" :headers="headerWithCol" />
    <!-- <FormTableRow v-for="(i, index) in 2" :key="index">
      <FormTableCell
        v-for="(header, index) in headers"
        :key="header.label"
        :in-selectable="index === 0"
        :cols="header.cols"
      >
        <FormTableInput
          :placeholder="header.label"
          :active="i === focusRow"
          @focus="focusRow = i"
        />
      </FormTableCell>
    </FormTableRow> -->
    </div>
  </div>
</template>
