<script setup lang="ts">
// TODO:
// 1. generate input by type
// 2. type autocomplete
// 3. type date
// 4. type number
// 5. type select

import { ref } from 'vue'

defineProps<{
  disabled?: boolean
  active?: boolean
}>()

const emit = defineEmits<{
  (e: 'update:disabled', value: boolean): void
  (e: 'focus'): void
}>()

const isFocus = ref(false)
function onFocus() {
  isFocus.value = true
  emit('focus')
}
</script>

<template>
  <input
    :disabled="disabled"
    :class="isFocus || active ? 'bg-secondary/50' : ''"
    class="block w-full px-2 py-2 text-sm bg-background ring-offset-background focus-visible:ring-1 focus-visible:ring-blue-300 focus-visible:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
    @focus="onFocus"
    @blur="isFocus = false"
  >
</template>
