<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps({
  header: {
    type: Boolean,
    default: false,
  },
})

const header = computed(() => {
  if (props.header)
    return ' rounded-t-lg'

  return ''
})

const classNames = computed(() => {
  return [
    header.value,
  ]
})
</script>

<template>
  <div class="relative flex" :class="classNames">
    <slot />
  </div>
</template>
