<script setup lang="ts">
import type { FormTableCellCol } from '.'
import { FormTableCell, FormTableRow } from '.'
import { Checkbox } from '@/components/ui/checkbox'
import { Icon } from '@/components/ui/icon'

interface HeaderItem {
  label: string
  width?: string
  disabled?: boolean
  selectAll?: boolean
  cols?: FormTableCellCol
}

interface Header {
  headers: HeaderItem[]
}

defineProps<Header>()
</script>

<template>
  <FormTableRow header>
    <FormTableCell check class="rounded-tl-lg">
      <Checkbox />
    </FormTableCell>
    <FormTableCell check>
      No.
    </FormTableCell>
    <FormTableCell
      v-for="(header) in headers"
      :key="header.label"
      :cols="header.cols"
    >
      <span class="px-2">
        {{ header.label }}
      </span>
    </FormTableCell>
    <FormTableCell class="rounded-tr-lg" check>
      <Icon name="Settings" :stroke-width="1" />
    </FormTableCell>
  </FormTableRow>
</template>
