<script setup lang="ts">
import { computed, withDefaults } from 'vue'
import type { FormTableCellCol } from '.'

export interface FormTableCellProps {
  inSelectable?: boolean
  cols?: FormTableCellCol
  align?: 'left' | 'right' | 'center'
  check?: boolean
}
const props = withDefaults(defineProps<FormTableCellProps>(), {
  inSelectable: true,
})

const colClass = computed(() => {
  if (props.cols) {
    return {
      'max-w-col-1 flex-col-1': props.cols === '1',
      'max-w-col-2 flex-col-2': props.cols === '2',
      'max-w-col-3 flex-col-3': props.cols === '3',
      'max-w-col-4 flex-col-4': props.cols === '4',
      'max-w-col-5 flex-col-5': props.cols === '5',
      'max-w-col-6 flex-col-6': props.cols === '6',
      'max-w-col-7 flex-col-7': props.cols === '7',
      'max-w-col-8 flex-col-8': props.cols === '8',
      'max-w-col-9 flex-col-9': props.cols === '9',
      'max-w-col-10 flex-col-10': props.cols === '10',
      'max-w-col-11 flex-col-11': props.cols === '11',
      'max-w-col-12 flex-col-12': props.cols === '12',
    }
  }

  return 'col'
})

const alignClass = computed(() => {
  if (props.align) {
    return {
      'justify-start': props.align === 'left',
      'justify-end': props.align === 'right',
      'justify-center': props.align === 'center',
    }
  }
  return ''
})

const checkClass = computed(() => {
  if (props.check)
    return 'py-2 px-1 justify-center'

  return ''
})
</script>

<template>
  <div
    class="relative text-sm truncate border flex items-center"
    :class="[
      colClass,
      alignClass,
      checkClass,
    ]"
  >
    <slot />
  </div>
</template>

<style scoped>
.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  width: 100%;
}
</style>
