<script setup lang="ts">
import { useForm } from 'vee-validate'
import { toTypedSchema } from '@vee-validate/zod'
import { ref } from 'vue'
import * as z from 'zod'

import {
  FormControl,
  FormField,
  FormItem,
  FormLabel,
  FormMessage,
} from '@/components/ui/form'

import {
  FormTable,
} from '@/components/ui/form-table'
import { Card } from '@/components/ui/card'
import { Page } from '@/components/ui/page'
import { Input } from '@/components/ui/input'
import { Textarea } from '@/components/ui/textarea'
import { Button } from '@/components/ui/button'

const formSchema = toTypedSchema(z.object({
  username: z.string().min(2).max(50),
}))

const form = useForm({
  validationSchema: formSchema,
})

const onSubmit = form.handleSubmit((values) => {
  console.log('Form submitted!', values)
})

const headers = ref([
  {
    label: 'Item Code',
    cols: '2',
  },
  {
    label: 'Required By',
    cols: '1',
  },
  {
    label: 'Quantity',
    cols: '1',
  },
  {
    label: 'Price',
    cols: '1',
  },
  {
    label: 'Price',
    cols: '1',
  },
  {
    label: 'Price',
    cols: '1',
  },
  {
    label: 'Price',
    cols: '1',
  }
])

const test = ref([])
</script>

<template>
  <Page
    title="Create Purchase Order"
    subtitle="New purchase order"
    :back-action="{
      url: '/purchase_order',
    }"
    :primary-action="{
      content: 'Save',
    }"
    :secondary-action="[
      {
        content: 'Cancel',
        variant: 'destructive',
      },
    ]"
  >
    <Card class="p-3">
      <form class="flex flex-col space-y-3" @submit="onSubmit">
        <div class="flex space-x-3">
          <div class="flex flex-col w-1/3 space-y-3">
            <FormField v-slot="{ componentField }" name="issue_date">
              <FormItem>
                <FormLabel>Issue Date</FormLabel>
                <FormControl>
                  <Input type="date" v-bind="componentField" />
                </FormControl>
                <FormMessage />
              </FormItem>
            </FormField>

            <FormField v-slot="{ componentField }" name="expired_date">
              <FormItem>
                <FormLabel>Expired Date</FormLabel>
                <FormControl>
                  <Input type="date" v-bind="componentField" />
                </FormControl>
                <FormMessage />
              </FormItem>
            </FormField>
          </div>

          <div class="flex flex-col w-1/3 space-y-3">
            <FormField v-slot="{ componentField }" name="vendor">
              <FormItem>
                <FormLabel>Vendor </FormLabel>
                <FormControl>
                  <Input type="text" v-bind="componentField" />
                </FormControl>
                <FormMessage />
              </FormItem>
            </FormField>

            <FormField v-slot="{ componentField }" name="vendor_address">
              <FormItem>
                <FormLabel>Vendor Address </FormLabel>
                <FormControl>
                  <Textarea v-bind="componentField" />
                </FormControl>
                <FormMessage />
              </FormItem>
            </FormField>
          </div>

          <div class="flex flex-col w-1/3 space-y-3">
            <FormField v-slot="{ componentField }" name="destination_warehouse">
              <FormItem>
                <FormLabel>Destination Warehouse</FormLabel>
                <FormControl>
                  <Input type="text" v-bind="componentField" />
                </FormControl>
                <FormMessage />
              </FormItem>
            </FormField>

            <FormField v-slot="{ componentField }" name="warehouse_address">
              <FormItem>
                <FormLabel>Warehouse Address</FormLabel>
                <FormControl>
                  <Textarea type="text" v-bind="componentField" />
                </FormControl>
                <FormMessage />
              </FormItem>
            </FormField>
          </div>

          <Button class="hidden" type="submit">
            Submit
          </Button>
        </div>
        <FormTable v-model="test" :headers="headers" />
      </Form>
    </Card>
  </Page>
</template>
