<script setup lang="ts">
import { columns } from './orders/columns'
import orders from './orders/orders.json'
import OrderFilter from './orders/OrderFilter.vue'
import { DataTable } from '@/components/ui/data-table'
import { Page } from '@/components/ui/page'
import { Badge } from '@/components/ui/badge'
</script>

<template>
  <Page
    title="Purchase Order"
    subtitle="List of Purchase Order"
    :primary-action="{
      content: 'Create Purchase Order',
      url: '/add/purchase_order',
      loading: true,
    }"
    :secondary-action="[
      {
        content: 'Export',
        variant: 'export',
        url: '#',
        icon: 'Sheet',
        onAction: () => {
          console.log('Export')
        },
      },
      {
        content: 'Refresh',
        icon: 'RefreshCw',
        iconOnly: true,
        onAction: () => {
          console.log('Refresh')
        },
      },
    ]"
  >
    <template #after-title>
      <Badge variant="secondary" size="small" class="bg-sky-500/20">
        New
      </Badge>
    </template>

    <DataTable :data="orders" :columns="columns">
      <template #header="{ table }">
        <OrderFilter :table="table" />
      </template>
    </DataTable>
  </Page>
</template>
