<script lang="ts">
import type { InjectionKey } from 'vue'

// eslint-disable-next-line symbol-description
export const FORM_ITEM_INJECTION_KEY = Symbol() as InjectionKey<string>
</script>

<script lang="ts" setup>
// eslint-disable-next-line import/first
import { provide, useAttrs } from 'vue'

// eslint-disable-next-line import/first
import { useId } from 'radix-vue'

// eslint-disable-next-line import/first
import { cn } from '@/lib/utils'

defineOptions({
  inheritAttrs: false,
})

const id = useId()
provide(FORM_ITEM_INJECTION_KEY, id)

const { class: className, ...rest } = useAttrs()
</script>

<template>
  <div :class="cn('space-y-2', className ?? '')" v-bind="rest">
    <slot />
  </div>
</template>
