<script setup lang="ts">
import { ref } from 'vue'
import { Plus, X } from 'lucide-vue-next'
import { Button } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { Input } from '@/components/ui/input'
import { Label } from '@/components/ui/label'
import {
  Tabs,
  TabsContent,
  TabsList,
  TabsTrigger,
} from '@/components/ui/tabs'

const tabs = ref([
  {
    value: 'account',
    label: 'Account',
  },
  {
    value: 'password',
    label: 'Password',
  },
])

function addNewTab() {
  tabs.value.push({
    value: `tab-${tabs.value.length}`,
    label: `Tab ${tabs.value.length + 1}`,
  })
}

function removeTab(index: number) {
  if (tabs.value.length === 1)
    return
  tabs.value.splice(index, 1)
}

const active = ref(tabs.value[0].value)
</script>

<template>
  <Tabs :default-value="active">
    <TabsList class="flex justify-start h-auto p-0 rounded-none">
      <TabsTrigger v-for="(tab, index) in tabs" :key="tab.value" :value="tab.value" class="rounded-none">
        <span>{{ tab.label }}</span>
        <X :class="tabs.length === 1 ? 'hidden' : ''" class="w-4 h-4 ml-2 text-black/50" @click="removeTab(index)" />
      </TabsTrigger>

      <Button class="mx-1" size="icon" title="New Tab" @click="addNewTab">
        <Plus class="w-4 h-4" />
      </Button>
    </TabsList>
    <TabsContent v-for="tab in tabs" :key="tab.value" :value="tab.value">
      <Card>
        <CardHeader>
          <CardTitle>Account</CardTitle>
          <CardDescription>
            Make changes to your account here. Click save when you're done.
          </CardDescription>
        </CardHeader>
        <CardContent class="space-y-2">
          <div class="space-y-1">
            <Label for="name">Name</Label>
            <Input id="name" default-value="Pedro Duarte" />
          </div>
          <div class="space-y-1">
            <Label for="username">Username</Label>
            <Input id="username" default-value="@peduarte" />
          </div>
        </CardContent>
        <CardFooter>
          <Button>Save changes</Button>
        </CardFooter>
      </Card>
    </TabsContent>
  </Tabs>
</template>
