<script setup lang="ts">
import { ref } from 'vue'
import {
  BarChart,
  CalendarIcon,
  FolderIcon,
  HomeIcon,
  InboxIcon,
  UsersIcon,
} from 'lucide-vue-next'

import MobileSidebar from '../MobileSidebar.vue'
import MainSidebarSubItems from './MainSidebarSubItems.vue'
import MainShell from './MainShell.vue'
import SearchInput from '@/components/SearchInput.vue'

const navigation = [
  { name: 'Dashboard', path: '#', icon: HomeIcon, current: true },
  { name: 'Team', path: '#', icon: UsersIcon, current: false },
  { name: 'Projects', path: '#', icon: FolderIcon, current: false },
  { name: 'Calendar', path: '#', icon: CalendarIcon, current: false },
  { name: 'Documents', path: '#', icon: InboxIcon, current: false },
  { name: 'Reports', path: '#', icon: BarChart, current: false },
]

const searchMenu = ref('')
</script>

<template>
  <div class="flex flex-col w-full">
    <div class="flex items-center w-full h-10 px-3 bg-red-500">
      yayayay
    </div>
    <div>
      <!-- Static sidebar for desktop -->
      <div class="hidden mt-10 md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex flex-col flex-1 min-h-0 bg-blue-700">
          <div class="flex flex-col flex-1 px-4 pt-8 pb-4 overflow-y-auto">
            <SearchInput v-model="searchMenu" />

            <div class="mt-3">
              <MainSidebarSubItems v-model="searchMenu" :items="navigation" />
            </div>

          <!-- <nav class="flex-1 mt-5 space-y-1">
            <a v-for="item in navigation" :key="item.name" :href="item.href" class="flex items-center px-2 py-2 text-sm font-medium rounded-md group" :class="[item.current ? 'bg-blue-800 text-white' : 'text-white hover:bg-blue-600 hover:bg-opacity-75']">
              <component :is="item.icon" class="flex-shrink-0 w-6 h-6 mr-3 text-blue-300" aria-hidden="true" />
              {{ item.name }}
            </a>
          </nav> -->
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-1 md:pl-64">
        <div class="sticky top-0 z-10 pt-1 pl-1 bg-gray-100 md:hidden sm:pl-3 sm:pt-3">
          <MobileSidebar />
        </div>
        <main class="flex-1">
          <div class="py-6">
            <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-8">
              <h1 class="text-2xl font-semibold text-gray-900">
                Dashboard
              </h1>
            </div>
            <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-8">
              <!-- Replace with your content -->
              <div class="py-4">
                <!-- <div class="border-4 border-gray-200 border-dashed rounded-lg h-96" /> -->
                <MainShell />
              </div>
            <!-- /End replace -->
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>
