<script setup lang="ts">
import { computed } from 'vue'
import { Info, Pin } from 'lucide-vue-next'

interface Item {
  name: string
  path: string
  icon: any
  current?: boolean
}

const props = defineProps<{
  items: Item[]
  modelValue: string
}>()

const filteredItems = computed(() => {
  const searchTerm = props.modelValue ? props.modelValue.toLowerCase() : ''
  return props.items.filter(item => item.name.toLowerCase().includes(searchTerm))
})
</script>

<template>
  <div class="grid grid-cols-2 gap-3">
    <router-link
      v-for="item in filteredItems"
      :key="item.path" :to="item.path"
      class="w-full p-2 text-blue-100 bg-blue-600 rounded-lg cursor-pointer group hover:bg-blue-500 "
    >
      <div class="flex justify-between">
        <component :is="item.icon" class="w-4 h-4" />

        <div class="hidden space-x-1 group-hover:flex">
          <Info class="w-3 h-3" :title="item.name" />
          <Pin class="w-3 h-3" />
        </div>
      </div>
      <span class="mt-2 text-sm" :title="item.name">
        {{ item.name }}
      </span>
    </router-link>
  </div>
</template>
