<script setup>
import { ref } from 'vue'
import {
  ChevronRight,
  Coins,
  HomeIcon,
  Landmark,
  Package,
  Package2,
  Plus,
  Settings,
  ShoppingBag,
  XCircle,
} from 'lucide-vue-next'

import { Button } from '@/components/ui/button'
import Logo from '@/components/Logo.vue'

const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
})
const emit = defineEmits(['update:modelValue'])
const childTransition = ref(false)

function toggle() {
  emit('update:modelValue', !props.modelValue)
}
const menus = [
  {
    title: 'Home',
    icon: HomeIcon,
    path: '/purchase',
  },
  {
    title: 'Purchase',
    icon: ShoppingBag,
    path: '/purchase',
  },
  {
    title: 'Sales',
    icon: Coins,
    path: '/purchase',
  },
  {
    title: 'Master Data',
    icon: Package,
    path: '/purchase',
  },
  {
    title: 'Inventory Control',
    icon: Package2,
    path: '/purchase',
  },
  {
    title: 'Accounting',
    icon: Landmark,
    path: '/purchase',
  },
  {
    title: 'Settings',
    icon: Settings,
    path: '/purchase',
  },
]

const pages = [
  {
    title: 'Purchase Order',
    icon: ChevronRight,
  },
  {
    title: 'Vendor Invoice',
    icon: ChevronRight,
  },
  {
    title: 'Vendor Payment',
    icon: ChevronRight,
  },
]
function onClose() {
  emit('update:modelValue', false)
}
</script>

<template>
<div class="hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex flex-col flex-1 min-h-0 bg-blue-700">
      <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
        <nav class="flex-1 px-2 mt-5 space-y-1">
          <a v-for="item in navigation" :key="item.name" :href="item.href" :class="[item.current ? 'bg-blue-800 text-white' : 'text-white hover:bg-blue-600 hover:bg-opacity-75', 'group flex items-center px-2 py-2 text-sm font-medium rounded-md']">
            <component :is="item.icon" class="flex-shrink-0 w-6 h-6 mr-3 text-blue-300" aria-hidden="true" />
            {{ item.name }}
          </a>
        </nav>
      </div>
    </div>
  </div>
</template>
