<script setup lang="ts">
import { Icon } from '@/components/ui/icon'
import { Button } from '@/components/ui/button'
const emit = defineEmits(['update:sidebar'])
</script>

<template>
  <div class="sticky top-0 z-10 flex items-center h-16 px-4 bg-black shadow">
    <Button class="bg-transparent" @click="emit('update:sidebar', true)">
      <Icon class="w-5 h-5" name="Menu"/>
    </Button>
    <div class="flex justify-between flex-1 px-4">
      <div class="flex flex-1" />
    </div>
  </div>
</template>
