<script setup lang="ts">
import {
  Coins,
  HomeIcon,
  Landmark,
  Package,
  Package2,
  Settings,
  ShoppingBag,
} from 'lucide-vue-next'

import MiniSidebarNavItem from './MiniSidebarNavItem.vue'
import Logo from '@/components/Logo.vue'

const user = {
  name: 'Emily Selman',
  imageUrl: 'https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80',
}

const menus = [
  {
    title: 'Home',
    icon: HomeIcon,
    path: '/purchase',
  },
  {
    title: 'Purchase',
    icon: ShoppingBag,
    path: '/purchase',
  },
  {
    title: 'Sales',
    icon: Coins,
    path: '/purchase',
  },
  {
    title: 'Master Data',
    icon: Package,
    path: '/purchase',
  },
  {
    title: 'Inventory Control',
    icon: Package2,
    path: '/purchase',
  },
  {
    title: 'Accounting',
    icon: Landmark,
    path: '/purchase',
  },
  {
    title: 'Settings',
    icon: Settings,
    path: '/purchase',
  },
]
</script>

<template>
  <div class="flex h-screen">
    <div class="hidden lg:flex lg:flex-shrink-0">
      <div class="flex flex-col w-16">
        <div class="flex flex-col flex-1 min-h-0 overflow-y-auto bg-blue-600">
          <div class="flex-1">
            <div class="flex items-center justify-center py-4 ">
              <Logo />
            </div>

            <nav aria-label="Sidebar" class="flex flex-col items-center py-6 space-y-3">
              <MiniSidebarNavItem
                v-for="menu in menus"
                :key="menu.path"
                :title="menu.title"
                :icon="menu.icon"
                :path="menu.path"
              />
            </nav>
          </div>
          <div class="flex flex-shrink-0 pb-5">
            <a href="#" class="flex-shrink-0 w-full">
              <img class="block w-10 h-10 mx-auto rounded-full" :src="user.imageUrl" alt="">
              <div class="sr-only">
                <p>
                  {{ user.name }}
                </p>
                <p>Account settings</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="flex flex-col flex-1 min-w-0 overflow-hidden">
      <div class="lg:hidden">
        <div class="flex items-center justify-between px-4 py-2 bg-blue-600 sm:px-6 lg:px-8">
          <div>
            <Logo/>
          </div>
          <div>
            <button type="button" class="inline-flex items-center justify-center w-12 h-12 -mr-3 text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
              <span class="sr-only">Open sidebar</span>
              <MenuIcon class="w-6 h-6" aria-hidden="true" />
            </button>
          </div>
        </div>
      </div>

      <main class="flex flex-1 overflow-hidden">
        <section aria-labelledby="primary-heading" class="flex flex-col flex-1 h-full min-w-0 overflow-y-auto lg:order-last">
          <h1 id="primary-heading" class="sr-only">Account</h1>
        </section>

        <aside class="hidden lg:block lg:flex-shrink-0 lg:order-first">
          <div class="relative flex flex-col h-full overflow-y-auto bg-white border-r border-gray-200 w-96">
          </div>
        </aside>
      </main>
    </div> -->
  </div>
</template>
