<template>
  <TooltipProvider :delay-duration="300">
    <Tooltip>
      <TooltipTrigger>
        <Button as="router-link" :to="path" variant="ghost" class="w-10 h-10 text-blue-200 hover:bg-blue-700 hover:text-blue-200">
          <component :is="icon" class="w-6 h-6 group-hover:text-blue-500" />
        </Button>
      </TooltipTrigger>
      <TooltipContent side="right" :side-offset="14">
        {{ title }}
      </TooltipContent>
    </Tooltip>
  </TooltipProvider>
</template>
<script setup lang="ts">
import {
  Tooltip,
  TooltipContent,
  TooltipProvider,
  TooltipTrigger
} from '@/components/ui/tooltip'
import {
  Button 
} from '@/components/ui/button'

defineProps<{
  title: string
  icon: any
  path: string
}>()
</script>
