<script setup lang="ts">
import type { ButtonProps } from '.'
import { buttonVariants } from '.'
import { cn } from '@/lib/utils'

withDefaults(defineProps<ButtonProps>(), {
  as: 'button',
})
</script>

<template>
  <component
    :is="as"
    :class="cn(buttonVariants({ variant, size }), $attrs.class ?? '')"
  >
    <slot />
  </component>
</template>
