<script setup>
import { reactive } from 'vue'
import { Button } from '.'
import { Icon } from '@/components/ui/icon'

const sizes = ['default', 'xs', 'sm', 'lg']
const variants = ['default', 'destructive', 'outline', 'secondary', 'ghost', 'export', 'link']

function initState() {
  return {
    disabled: false,
    size: 'sm',
  }
}
</script>

<template>
  <Story :layout="{ type: 'grid', width: 300 }">
    <Variant v-for="v in variants" :key="v" auto-props-disabled :title="v">
      <template #default="{ state }">
        <Button
          :variant="v"
          v-bind="state"
        >
          Button
        </Button>
      </template>
    </Variant>

    <Variant auto-props-disabled title="Icon">
      <div class="flex space-x-4">
        <Button size="icon">
          <Icon name="X" />
        </Button>
        <Button size="icon">
          <Icon name="Save" />
        </Button>
        <Button size="icon">
          <Icon name="Pencil" />
        </Button>
      </div>

      <template #controls="{ state }">
        <HstCheckbox v-model="state.disabled" title="Disabled" />
      </template>
    </Variant>

    <template #controls="{ state }">
      <HstCheckbox v-model="state.disabled" title="Disabled" />
      <HstSelect v-model="state.size" :options="sizes" title="Size" />
    </template>
  </Story>
</template>
