<script setup lang="ts">
import { AspectRatio } from '@/components/ui/aspect-ratio'

const ratios = [
  {
    label: '1 / 1',
    value: 1 / 1,
  },
  {
    label: '4 / 3',
    value: 4 / 3,
  },
  {
    label: '14 / 9',
    value: 14 / 9,
  },
  {
    label: '16 / 9',
    value: 16 / 9,
  },
]

function initState() {
  return {
    ratio: 16 / 9,
  }
}
</script>

<template>
  <Story
    :init-state="initState"
  >
    <template
      #default="{ state }"
    >
      <AspectRatio
        v-bind="state" class="bg-muted"
      >
        <img
          src="https://images.unsplash.com/photo-1589405858862-2ac9cbb41321?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          alt="Photo by Drew Beamer"
          class="object-cover w-full h-full rounded-md"
        >
      </AspectRatio>
    </template>

    <template #controls="{ state }">
      <HstSelect v-model="state.ratio" :options="ratios" title="Ratio" />
    </template>
  </Story>
</template>
