<script setup lang="ts">
import { ref, watchEffect } from 'vue'
import { Progress } from '@/components/ui/progress'

const progress = ref(13)

watchEffect((cleanupFn) => {
  const timer = setTimeout(() => progress.value = 66, 500)
  cleanupFn(() => clearTimeout(timer))
})
</script>

<template>
  <Story>
    <Progress v-model="progress" class="w-[60%]" />
  </Story>
</template>
