<script setup lang="ts">
import { computed, defineProps, withDefaults } from 'vue'
import * as icons from 'lucide-vue-next'
import { cn } from '@/lib/utils'

const props = withDefaults(defineProps<{
  name: string
  size?: number
  color?: string
  strokeWidth?: number
  defaultClass?: string
}>(), {
  size: 24,
  color: 'currentColor',
  strokeWidth: 2,
  defaultClass: '',
})

const icon = computed(() => (icons as Record<string, any>)[props.name])
</script>

<template>
  <component
    :is="icon"
    :size="props.size"
    :color="props.color"
    :stroke-width="props.strokeWidth"
    :default-class="props.defaultClass"
    :class="cn('w-4 h-4', $attrs.class)"
  />
</template>
