<script setup lang="ts">
import { ref } from 'vue'
import { Icon } from '@/components/ui/icon'
import { Input } from '@/components/ui/input'

const submodules = ref(
  [
    {
      name: 'Puchase Order',
      children: [
        'Purchase Order List',
        'Add Purchase Order',
      ],
    },

    {
      name: 'Puchase Downpayment',
      children: [
        'Purchase Downpayment List',
        'Add Purchase Downpayment',
      ],
    },

    {
      name: 'Vendor Invoice',
      children: [
        'Vendor Invoice List',
        'Add Vendor Invoice',
      ],
    },

    {
      name: 'Vendor Payment',
      children: [
        'Vendor Payment List',
        'Add Vendor Payment',
        'Vendor Debit Note',
        'Vendor Payment Confirmation',
      ],
    },

    {
      name: 'Purchase Return',
      children: [
        'Purchase Return List',
        'Add Purchase Return',
      ],
    },
  ],
)
</script>

<template>
  <div>
    <div class="flex justify-between">
      <h1 class="mb-6 text-xl font-bold">
        Purchase Module
      </h1>

      <div>
        <Input placeholder="Search.." />
      </div>
    </div>
    <span />
    <section class="grid grid-cols-4">
      <div v-for="mdl in submodules" :key="mdl" class="">
        <div class="flex items-center mb-3">
          <Icon name="FileText" class="mr-3" />
          <h1 class="text-lg font-semibold text-gray-900">
            {{ mdl.name }}
          </h1>
        </div>
        <div v-for="cdl in mdl.children" :key="cdl" variant="ghost" class="flex items-center pr-3 my-1 text-sm rounded-sm cursor-pointer group hover:bg-gray-200 hover:rounded-lg w-fit">
          <div class="mr-2 rounded-md bg-orange-600/20 group-hover:bg-transparent">
            <Icon name="DotIcon" class="text-yellow-900" />
          </div>
          <router-link to="/purchase_order" class="">
            {{ cdl }}
          </router-link>
        </div>
      </div>
    </section>
  </div>
</template>
