<script setup>
import { useElementSize } from '@vueuse/core'
import { computed, nextTick, ref, watch } from 'vue'

const props = defineProps({
  show: Boolean,
})

const isOpen = computed(() => props.show)
</script>

<template>
  <div
    class="overflow-hidden"
    :class="isOpen ? 'animate-accordion-down' : 'animate-accordion-up'"
    :style="{
      [`--radix-accordion-content-height`]: `${48}px`,
    }"
  >
    <slot />
  </div>
</template>
