<script setup lang="ts">
import tasks from './data/tasks.json'
import DataTable from './components/DataTable.vue'

// import UserNav from './components/UserNav.vue'
import { columns } from './components/columns'
</script>

<template>
  <!-- <div class="md:hidden">
    <image
      alt="Tasks"
      width="1280"
      height="1214" class="block" :image="{
        dark: '/examples/tasks-dark.png',
        light: '/examples/tasks-light.png',
      }"
    />
  </div> -->

  <div class="flex-col flex-1 hidden h-full p-8 space-y-8 md:flex">
    <DataTable :data="tasks" :columns="columns" />
  </div>
</template>
