<script setup lang="ts">
import { labels } from '@/components/example/task/data/data'
import { Badge } from '@/components/ui/badge'

function initState() {
  return {
    variant: 'default',
  }
}
</script>

<template>
  <Story auto-props-disabled :init-state="initState">
    <template #default="{ state }">
      <Badge v-bind="state">
        Badge
      </Badge>
    </template>
    <template #controls="{ state }">
      <HstSelect
        v-model="state.variant"
        :options="[
          {
            label: 'default',
            value: 'default',
          },
          {
            label: 'secondary',
            value: 'secondary',
          },
          {
            label: 'destructive',
            value: 'destructive',
          },
          {
            label: 'outline',
            value: 'outline',
          },
        ]"
        title="Variant"
      />
    </template>
  </Story>
</template>
