<script setup lang="ts">
import { Switch } from '@/components/ui/switch'
</script>

<template>
  <Story>
    <div class="flex items-center space-x-2">
      <Switch id="airplane-mode" />
    </div>
  </Story>
</template>
