<script setup>
import { useDark, useToggle } from '@vueuse/core'
import { Icon } from '@/components/ui/icon'
import { Button } from '@/components/ui/button'

const isDark = useDark()
const toggleDark = useToggle(isDark)
</script>

<template>
  <Button class="pa-2" @click="toggleDark()">
    <Icon v-if="isDark" name="moon" />
    <Icon v-else name="sun" />
  </Button>
</template>
