<template>
  <svg class="h-8" width="396" height="346" viewBox="0 0 396 346" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="10" y="11" width="343" height="325" rx="90" fill="white" stroke="black" stroke-width="20"/>
    <rect x="53" width="343" height="345" rx="77" fill="#090909"/>
    <path d="M175.601 251.203C172.135 251.203 169.334 250.003 167.201 247.604C165.068 245.337 164.001 242.47 164.001 239.004L163.999 166.604C163.998 155.537 166.398 145.737 171.198 137.203C175.864 128.67 182.331 122.003 190.597 117.203C198.864 112.403 208.464 110.002 219.397 110.002C230.33 110.002 239.997 112.401 248.397 117.201C256.664 122.001 263.198 128.667 267.998 137.201C272.665 145.734 274.998 155.534 274.999 166.6L275.001 239C275.001 242.467 273.801 245.334 271.401 247.601C269.001 250.001 265.935 251.201 262.201 251.201C259.135 251.201 256.401 250.001 254.001 247.601C251.468 245.334 250.201 242.468 250.201 239.001L250.199 166.601C250.199 159.934 248.798 154.135 245.998 149.201C243.065 144.401 239.265 140.668 234.598 138.002C229.798 135.335 224.731 134.002 219.398 134.002C213.664 134.002 208.331 135.336 203.398 138.002C198.465 140.669 194.465 144.403 191.398 149.203C188.332 154.136 186.799 159.936 186.799 166.603L186.801 239.003C186.801 242.47 185.801 245.336 183.801 247.603C181.801 250.003 179.068 251.203 175.601 251.203Z" fill="url(#paint0_linear_0_1)"/>
    <defs>
    <linearGradient id="paint0_linear_0_1" x1="257.503" y1="311.001" x2="257.5" y2="202.001" gradientUnits="userSpaceOnUse">
    <stop offset="0.984375" stop-color="white"/>
    </linearGradient>
    </defs>
  </svg>
</template>


<script setup lang="ts">
withDefaults(defineProps<{
  height?: string
  width?: string
}>(), {
  height: '24px',
  width: '24px'
})

</script>
