<script setup lang="ts">
import { Button } from '@/components/ui/button'
import { Icon } from '@/components/ui/icon'
import {
  Sheet,
  SheetContent,
  SheetTrigger,
} from '@/components/ui/sheet'

const navigation = [
  { name: 'Dashboard', href: '#', icon: 'HomeIcon', current: true },
  { name: 'Team', href: '#', icon: 'UsersIcon', current: false },
  { name: 'Projects', href: '#', icon: 'FolderIcon', current: false },
  { name: 'Calendar', href: '#', icon: 'CalendarIcon', current: false },
  { name: 'Documents', href: '#', icon: 'InboxIcon', current: false },
  { name: 'Reports', href: '#', icon: 'BarChart', current: false },
]
</script>

<template>
  <Sheet>
    <SheetTrigger as-child>
      <Button variant="ghost" class="my-2" size="lg">
        <Icon class="w-6 h-6 " name="Menu" />
      </Button>
    </SheetTrigger>
    <SheetContent class="w-64 p-0" side="left">
      <div class="flex flex-col flex-1 min-h-0 bg-indigo-700">
        <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
          <div class="flex items-center flex-shrink-0 px-4">
            <img class="w-auto h-8" src="https://tailwindui.com/img/logos/workflow-logo-indigo-300-mark-white-text.svg" alt="Workflow">
          </div>
          <nav class="flex-1 px-2 mt-5 space-y-1">
            <a v-for="item in navigation" :key="item.name" :href="item.href" class="group flex items-center px-2 py-2 text-sm font-medium rounded-md" :class="[item.current ? 'bg-indigo-800 text-white' : 'text-white hover:bg-indigo-600 hover:bg-opacity-75']">
              <Icon :name="item.icon" class="flex-shrink-0 w-6 h-6 mr-3 text-indigo-300" aria-hidden="true" />
              {{ item.name }}
            </a>
          </nav>
        </div>
        <div class="flex flex-shrink-0 p-4 border-t border-indigo-800">
          <a href="#" class="flex-shrink-0 block w-full group">
            <div class="flex items-center">
              <div>
                <img class="inline-block rounded-full h-9 w-9" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-white">Tom Cook</p>
                <p class="text-xs font-medium text-indigo-200 group-hover:text-white">View profile</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </SheetContent>
  </Sheet>
</template>
