<script setup lang="ts">
import { Search } from 'lucide-vue-next'
import { computed } from 'vue'
import { Input } from '@/components/ui/input'

const props = defineProps<{
  modelValue: string | null
}>()

const emits = defineEmits<{
  (e: 'update:modelValue', value: string | null): void
}>()

const internalValue = computed({
  get: () => props.modelValue,
  set: value => emits('update:modelValue', value || null),
})
</script>

<template>
  <div class="flex items-center px-3 bg-white border-b rounded-lg">
    <Search class="w-4 h-4 mr-2 opacity-50 shrink-0" />
    <input v-model="internalValue" placeholder="Search" class="flex w-full h-8 py-3 text-sm bg-transparent border-none rounded-md outline-none placeholder:text-muted-foreground">
  </div>
</template>
