<script setup lang="ts">
import { Input } from '@/components/ui/input'
</script>

<template>
  <Story :layout="{ type: 'grid', width: 300 }">
    <Input type="email" placeholder="Email" />
  </Story>
</template>
