<script setup lang="ts">
import Logo from '@/components/Logo.vue'

// onMounted(() => {
//   document.documentElement.style.setProperty('--radius', `${radius.value}rem`)
//   document.documentElement.classList.add(`theme-${theme.value}`)
// })

// const toggleDark = useToggle(isDark)
// const links = [
//   {
//     name: 'GitHub',
//     href: 'https://github.com/radix-vue',
//     icon: RadixIconsGithubLogo,
//   },
//   {
//     name: 'X',
//     href: 'https://x.com',
//     icon: TablerBrandX,
//   },
// ]

const mainNav = [
  {
    title: 'Docs',
    href: '/docs/',
    external: true,
  },
  {
    title: 'Examples',
    href: '/examples/',
    external: true,
  },
]
</script>

<template>
  <header class="sticky top-0 z-40 border-b bg-background/80 backdrop-blur-lg border-border">
    <div
      class="container flex items-center justify-between h-14"
    >
      <!-- <MobileNav /> -->

      <div class="hidden mr-4 md:flex">
        <Logo />
        <nav
          class="flex items-center space-x-6 text-sm font-medium"
        >
          <a
            v-for="route in mainNav"
            :key="route.title"
            :href="route.href"
            :target="route.external ? '_target' : undefined"
            class="transition-colors hover:text-foreground/80 text-foreground/60"
            :class="{
              // 'font-semibold !text-foreground': $route.path === `${route.href}.html`,
            }"
          >
            {{ route.title }}
          </a>
        </nav>
      </div>

      <div class="flex items-center justify-end space-x-4 ">
        <!-- <div
            v-for="link in links"
            :key="link.name"
            class="flex items-center space-x-1"
          >
            <a :href="link.href" target="_blank" class="text-foreground">
              <component :is="link.icon" class="w-5 h-5" />
            </a>
          </div> -->

        <button
          class="flex items-center justify-center"
          aria-label="Toggle dark mode"
        >
          <!-- <component
              :is="isDark ? RadixIconsSun : RadixIconsMoon"
              class="w-5 h-5 text-foreground"
            /> -->
        </button>
      </div>
    </div>
  </header>
</template>
