<script setup>
import { ref } from 'vue'
import MainSidebar from '@/components/layouts/MainSidebar.vue'
import MainNav from '@/components/layouts/MainNav.vue'
import MainLayout from '@/components/layouts/MainLayout.vue'
import MiniSidebar from '@/components/layouts/MiniSidebar.vue'
const isSidebarOpen = ref(false)
</script>

<template>
  <div class="flex w-full">
    <!-- <MainNav @update:sidebar="isSidebarOpen = !isSidebarOpen" />
    <main class="flex w-full min-h-screen bg-gray-200/30">
      <MainSidebar v-if="isSidebarOpen" v-model="isSidebarOpen" />
      <div :class="isSidebarOpen ? 'md:pl-64' : ''" class="p-6 mx-auto max-w-7xl sm:px-6 md:px-8 min-h-auto">
        <router-view />
      </div>
    </main> -->
    <MiniSidebar />
    <MainLayout />
  </div>
</template>
